<form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-12 control-label" for="name">Name</label>
        <div class="col-sm-12">
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter name"
                 [(ngModel)]="permission.name">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-12 control-label" for="path">Path</label>
        <div class="col-sm-12">
          <input type="text" id="path" name="path" class="form-control" placeholder="Enter path"
                 [(ngModel)]="permission.path">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="col-sm-12 control-label" for="action">Request method</label>
        <div class="col-sm-12">
          <select class="form-control" id="action" name="action" [(ngModel)]="permission.action">
            <option *ngFor="let action of actions" [ngValue]="action"
                    [selected]="permission.action === action">{{action}}</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</form>
